.loader {
	animation: loading-animation var(--transition-duration-long) linear infinite
		alternate;
	border-radius: var(--border-radius-sm);
}

.errored {
	background-color: rgba(159, 103, 103, 0.2);
}

@keyframes loading-animation {
	0% {
		background-color: rgba(150, 150, 150, 0.1);
	}
	100% {
		background-color: rgba(150, 150, 150, 0.3);
	}
}
