.container {
	display: flex;
	justify-content: space-between;
	background: none;
	padding: 1rem 0.5rem;
	width: 100%;
}

.container:hover {
	background: var(--elevatedbghover);
}

.lineChips {
	display: flex;
	gap: 0.5rem;
}
