.icon {
	font-size: 1.5em;
	color: inherit;
	cursor: pointer;
	user-select: none;
	font-variation-settings: 'FILL' 0, 'wght' 400;
	vertical-align: bottom;
	transition-duration: var(--transition-duration-mid);
}
