:root {
	--transition-duration-long: 500ms;
	--transition-duration-mid: 200ms;
	--transition-duration-short: 50ms;

	--timing-function: cubic-bezier(0.16, 1, 0.3, 1);

	--border-radius-lg: 2rem;
	--border-radius-sm: 0.75rem;

	--bg: #fff;
	--elevatedbg: #f1f1f1;
	--elevatedbghover: #e5e5e5;
	--elevatedbgactive: #dadada;
	--text: #363636;
	--muted-text: #868686;

	--orange: #e5862f;
	--red: #e52f2f;
	--lime: #7fe52f;
	--green: #37922f;
	--yellow: #e9c400;
	--blue: #2f78e5;
	--cyan: #85dede;
	--linegray: #c5c5c5;

	--water: #eaf6f7;
}

html {
	font-family: 'Inter';
	color: var(--text);
	overflow: hidden;
}

body,
input,
textarea,
button {
	font-family: 'Inter';
	color: var(--text);
}

.page-enter {
	opacity: 0;
}

.page-enter-active {
	opacity: 1;
	transition: opacity 300ms, transform 300ms;
}

.page-exit {
	opacity: 1;
	transform: scale(1);
}

.page-exit-active {
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}
