.nav {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: fixed;
	top: 2rem;
	left: 2rem;
}

.pinned {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: fixed;
	top: 2rem;
	right: 2rem;
}
