.linechip {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-sm);
	min-width: 2rem;
	padding: 0 0.5rem;
	box-sizing: border-box;
}

.linechip {
	font-size: 1.25rem;
	font-weight: 700;
	color: white;
}

.sm {
	height: 2rem;
}

.lg {
	height: 3rem;
	width: 3rem;
	border-radius: calc(var(--border-radius-sm) * 1.5);
}
